
.hero {
    background: #fd3671;
    color: white;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

.hero h1 {
    color: #ffcc00;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 10px;   
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(180deg, #fd3671, #564afb);
}

.feature-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.feature-card h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
}

.feature-card p {
    font-size: 1.1em;
    color: #555;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2em;
    }
    
    .hero p {
        font-size: 1em;
    }

    .feature-card h2 {
        font-size: 1.4em;
    }

    .feature-card p {
        font-size: 1em;
    }
}